.search-small input {
    max-width: 100%;
    
}

.Footer {
    margin-top: 5rem;
  }

  .filter-sidebar {
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.price-range-filter {
    position: sticky;
    top: 20px; 
    padding: 20px;
}


